input,lable,textarea,select{
    display:block;
}
input {
    padding:12px 5px;
    width:100%;
    margin-bottom:20px;
    font-size:1em;
}
input[type=submit]{
    width:100%;
    margin-top:10px;
    background-color:yellow;
    border:1px solid grey;
    
}
fieldset{
    margin-bottom:10px;
    background-color:#ddd;
}
input:focus:valid{
    border-left:3px solid green;
}
input:focus:invalid{
    border:3px solid red;

}
input:required{
    background-color:red;
}
input:optional{
    background-color:green;
}
input[type=number]:out-of-range{
    background-color:blue;
}
.wrap-section input,.wrap-section label{
    display:inline;
    width:auto;
}
textarea{
    width:90%;
    height: 100px;
    padding:10px 5%;
}